---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM
IndentWidth: 4
---
Language: Cpp
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: true
AlignConsecutiveBitFields: true
# AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignOperands: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false
BreakStringLiterals: false
ColumnLimit: 100
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
LineEnding: LF
PointerAlignment: Left
ReflowComments: false
SortIncludes: Never
SpaceAfterCStyleCast: true
TabWidth: 4
---
Language: Json
# Don't format JSON files
DisableFormat: true
...
