[submodule "tools/splat"]
	path = tools/splat
	url = git@github.com:ethteck/splat.git
[submodule "tools/asm-processor"]
	path = tools/asm-processor
	url = git@github.com:simonlindholm/asm-processor.git
[submodule "tools/decomp-permuter"]
	path = tools/decomp-permuter
	url = https://github.com/simonlindholm/decomp-permuter.git
