# IDE workspace folders
.vscode/
.idea/

# Ignored project folders
asm/
bin/
assets/
build/

# Ignored filetypes
.make_options
*.log
*.[nvz]64
*.hex
*.ld
*.bin
*.zip
*.hexproj

# Ignored misc. files
ctx.c
