# IDE workspace folders
.vscode/
.idea/

# Ignored project folders
asm/
bin/
src/assets/
include/assets/
# Ignore everything in the assets directory
# Except for the yml directory and its contents
assets/*
!assets/yml/
!assets/yml/**
build/
perm/
scratch/

# Ignored filetypes
.make_options
*.log
*.[nvz]64
*.hex
*.ld
*.bin
*.zip
*.hexproj

# Ignored misc. files
ctx.c
torch.hash.yml
